<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title itemprop="name">Preview bootstrap html snippet. bs4 sign in</title>
    <meta name="description" itemprop="description"
          content="Preview bootstrap html snippet. bs4 sign in. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="keywords"
          content="html, css, javascript, themes, templates, code snippets, ui examples, react js, react-native, plagraounds, cards, front-end, profile, invoice, back-end, web-designers, web-developers">
    <link itemprop="sameAs" href="https://www.facebook.com/bootdey">
    <link itemprop="sameAs" href="https://x.com/bootdey">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="/img/bootdey_favicon.ico">
    <link rel="apple-touch-icon" sizes="135x140" href="/img/bootdey_135x140.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/bootdey_76x76.png">
    <link rel="canonical" href="https://bootdey.com/snippets/view/bs4-sign-in" itemprop="url">
    <meta property="x:account_id" content="2433978487"/>
    <meta name="x:card" content="summary">
    <meta name="x:card" content="summary_large_image">
    <meta name="x:site" content="@bootdey">
    <meta name="x:creator" content="@bootdey">
    <meta name="x:title" content="Preview bootstrap html snippet. bs4 sign in">
    <meta name="x:description"
          content="Preview bootstrap html snippet. bs4 sign in. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="x:image" content="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-911.png">
    <meta name="x:url" content="https://bootdey.com/snippets/preview/bs4-sign-in">
    <meta property="og:title" content="Preview bootstrap html snippet. bs4 sign in">
    <meta property="og:url" content="https://bootdey.com/snippets/preview/bs4-sign-in">
    <meta property="og:image" content="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-911.png">
    <meta property="og:description"
          content="Preview bootstrap html snippet. bs4 sign in. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="msvalidate.01" content="23285BE3183727A550D31CAE95A790AB"/>
    <script src="/cache-js/cache-1635427806-97135bbb13d92c11d6b2a92f6a36685a.js" type="text/javascript"></script>
</head>
<body>
<div id="snippetContent">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">
                    <div class="text-center mt-4"><h1 class="h2">Welcome back, Dey</h1>
                        <p class="lead"> Sign in to your account to continue</p></div>
                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <div class="text-center"><img src="https://bootdey.com/img/Content/avatar/avatar6.png"
                                                              alt="Andrew Jones" class="img-fluid rounded-circle"
                                                              width="132" height="132"></div>
                                <form>
                                    <div class="form-group"><label>Username</label> <input
                                            class="form-control form-control-lg" type="text" name="username"
                                            placeholder="Enter your username"></div>
                                    <div class="form-group"><label>Password</label> <input
                                            class="form-control form-control-lg" type="password" name="password"
                                            placeholder="Enter your password"> <small> <a
                                            href="{% url 'register_page' %}">Register</a> </small></div>
                                    <div>
                                        <div class="custom-control custom-checkbox align-items-center"><input
                                                type="checkbox" class="custom-control-input" value="remember-me"
                                                name="remember-me" checked> <label
                                                class="custom-control-label text-small">Remember me next time</label>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3"><a href="{% url 'login_page' %}" class="btn btn-lg btn-primary">Sign
                                        in</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">body {
        background-color: #DCDCDC;
        margin-top: 20px;
    }

    .card {
        margin-bottom: 1.5rem;
        box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e5e9f2;
        border-radius: .2rem;
    }</style>
    <script type="text/javascript"></script>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F1RTS0P1CD"></script>
<script>window.dataLayer = window.dataLayer || [];

function gtag() {
    dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'G-F1RTS0P1CD');</script>
</body>
</html>